<!-- home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home - Taco-ntento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="ventana">
        <div class="barra">
            <button onclick="location.href='{{ url_for('cuenta') }}'">Mi cuenta</button>
            <button onclick="location.href='{{ url_for('pedido') }}'">Mi pedido</button>
            <span style="margin-left: auto;">
                ¿Algo nuevo?
                <input type="text" placeholder="Search">
                <button>Filtros ▼</button>
            </span>
        </div>

        <div class="seccion">
            <h3>Lo más pedido</h3>
            <div class="contenedor-cajas">
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
            </div>
        </div>

        <div class="seccion">
            <h3>Recomendaciones según tus pedidos</h3>
            <div class="contenedor-cajas">
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
            </div>
        </div>

        <div class="seccion">
            <h3>Usuarios con tus mismos gustos también piden...</h3>
            <div class="contenedor-cajas">
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
                <a href="{{ url_for('restaurante') }}"><div class="caja"></div></a>
            </div>
        </div>
    </div>
</body>
</html>